@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-12">
            <form action="/Home/Upload" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()

                <div class="custom-file">
                    <input type="file" name="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">選擇檔案</label>
                </div>
                <input type="submit" name="name" value="上傳" />
            </form>
        </div>
    </div>
</div>